<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>ASIN</th>
      <th>Title</th>
      <th>Actions</th>
      <th>Paused</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="query in queries">
      <td>{{query.asin}}</td>
      <td>{{query.title}}</td>
      <td>
        <button ng-click="deleteQuery(query)" class="btn-small btn-danger">Delete</button>
        <button class="btn-small btn-success">Export .xls</button>
        <button class="btn-small btn-primary">View</button>
      </td> <!-- TODO: FIX LINK -->
      <td><input ng-model="query.paused" ng-change="queries.$save(query.$id)" type="checkbox"></td>
    </tr>
  </tbody>
</table>
